<a href="https://colab.research.google.com/github/Pankaj-2003/General_python_practice/blob/main/python_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# problem 1 -swap 1st and last element of list
def swap(the_list):
  temp = the_list[0]
  the_list[0] = the_list[-1]
  the_list[-1] = temp
  return the_list

In [ ]:
# problem 2 , Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list.
input= [1, 2,3,4,5]
pos1 = 2
pos2 = 5
def swap_given_pos(input , pos1 , pos2):

  input[pos1-1] , input[pos2-1] = input[pos2-1] , input[pos1-1]
  return input

In [ ]:
# problem 3 , Given a list of integers with duplicate elements in it. The task is to generate another list, which contains only the duplicate elements. In simple words, the new list should contain elements that appear as more than one.
input =  [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]

def duplicate_list(input):
  unique = []
  duplicate = []
  for i in input:
    if i not in unique:
      unique.append(i)
    else:
      if i not in duplicate:
        duplicate.append(i)
  return duplicate

In [ ]:
# problems on list of list
# problem 4 , remove empty list
input = [5, 6, [], 3, [], [], 9]
def remove_empty_list(input):
  input = [i for i in input if i != []]
  return input

In [ ]:
# problem5
# Given a List, extract all elements whose frequency is greater than K.
input = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
def greater_than(input):
  for i in input:
    pass

[5, 6, 3, 9]

In [29]:
# 50 array interview questions
def peakElement(arr, n):

    if n ==1:
        print("yes")
        return 1

    else:

        for i in range(n):

            if i == 0:

                if arr[i] >= arr[i + 1]:

                    return i
                else:
                  continue

            elif i == n-1:
                if arr[i] >= arr[i - 1]:

                    return i
            else:
                if arr[i] >= arr[i-1] and arr[i] >= arr[i+1]:

                    return i

In [30]:
arr = [0]
n = 1
peakElement(arr , n)

yes

1

TypeError: 'set' object is not subscriptable